.add-card{
  background-color: #EEF5DB;
  border: 2px solid #4F6367;
  width: 500px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.add-button{
  width: 40%;
  height: 35px;
  font-family: 'Kalam', cursive;
  font-size: 15px;
  border: 1px solid #EEF5DB;
  border-radius: 5%;
  margin-top: 15px;
}

.add-card-form input{
  font-size: 30px;
  border: 2px solid #4F6367;
  max-width: 95%;
}