.correct{
    background-color: #c0efa7;
    border: 2px solid #1f5601;
    color: #1f5601;;
}

.incorrect{
    background-color: #f4a99f;
    border: 2px solid #701205;
    color: #701205;;
}

.neutral{
    background-color: #F0F7F4;
    border: 2px solid #32292F;
}

.flashcard {
    height: 150px;
    width: 95%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.8em;
    font-family: 'Permanent Marker', cursive;
}

.percentage {
    text-align: center;
    padding-bottom: 12px;
}

.card-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #99E1D9;
    border: 2px solid #32292F;
    max-width: 500px;
    margin: 0 auto;
}

.name{
    margin: 5px;
    font-size: 20px;
}

.name p{
    text-align: center;
}

.answer-form{
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;   
}

#answer{
    height: 35px;
    font-size: 25px;
    max-width: 350px;

}

.input-holder{
    text-align: center;
}

.button-holder{
    max-width: 350px;
    margin: 5px auto;
}

.button-holder button{
    width: 50%;
    height: 35px;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    border: 1px solid #F0F7F4;
    border-radius: 5%;
    background-color: #32292F;
    color: #F0F7F4;
}

.button-holder button:hover{
    background-color: #F0F7F4;
    color: #32292F;
}

.button-holder button:disabled{
    background-color: rgb(50, 41, 47, .3);
    color: #F0F7F4;
}

@media only screen and (min-width: 640px){
    #answer{
        height: 50px;
        font-size: 35px;
     } 
     .button-holder button{
        width: 50%;
        height: 50px;   
    }
    .name{
        font-size: 30px;
    }
}


