.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.neutral{
    background-color: #F0F7F4;
}

.flashcard {
    border: 2px solid #705D56;
    height: 150px;
    width: 95%;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.8em;
}

.percentage {
    text-align: center;
    padding-bottom: 12px;
}

.card-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #99E1D9;
    border: 2px solid #705D56;
    max-width: 500px;
    margin: 0 auto;
}

.name{
    margin: 10px;
}

.name p{
    text-align: center;
}

.answer-form{
    max-width: 500px;
    margin: 10px auto;
    padding: 5px;   
}

#answer{
    height: 35px;
    font-size: 25px;
    max-width: 350px;

}

.input-holder{
    text-align: center;
}

.button-holder{
    max-width: 350px;
    margin: 5px auto;
}

.button-holder button{
    width: 50%;
    height: 35px;   
}

@media only screen and (min-width: 640px){
    #answer{
        height: 50px;
        font-size: 35px;
     } 
     .button-holder button{
        width: 50%;
        height: 50px;   
    }
}


