h1 {
    text-align: center;
    color: #4F6367;
    margin-top: 35px;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 1px 0 white;
    font-size: 30px;
}

#logout {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    border: 1px solid #F0F7F4;
    border-radius: 5%;

}

@media only screen and (min-width: 640px){
    h1{
        font-size: 40px; 
        margin-top: 20px; 
    }
}
