h1 {
    text-align: center;
    color: #4F6367;
    margin-top: 20px;
    font-family: 'Permanent Marker', cursive;
}

#logout {
    float: right;
    position: absolute;
    top: 5px;
    right: 10px;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    border: 1px solid #F0F7F4;
    border-radius: 5%;
}
