.center {
    display: flex;
    justify-content: center;
    text-align: center;
}
.welcome-message {
    border: 2px solid #4F6367;
    background-color: #EEF5DB;
    height: 350px;
    width: 80%;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

#get-account, #back-to-login {
    font-size: 0.8em;
    display: inline-block;
    padding-left: 12px;
}
