
.login-form {
    border: 2px solid #4F6367;
    background-color: #EEF5DB;
    height: 300px;
    width: 80%;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-top: 12px;
}


.form-input {
    padding-top: 8px;
    padding-bottom: 8px;
}

.form-input input {
    padding: 6px;
    border-radius: 2px;
    background-color: #F0F7F4;
    border: 2px solid #4F6367;
}

.form-error {
    font-size: 0.8em;
    color: red;
}

.login-form button {
    margin-top: 12px;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#get-account{
    font-size: 15px;
}



